<div class="card-header">
  <h5>{{mytitle}}</h5>
</div>


<div class="card-body">
  <input hidden type="number" value="{{id}}">
  <label class="form-label">Name</label>
  <input type="text" class="form-control" name="" id="name" (change)="handleChange($event , 0)" value="{{name}}">

  <label class="form-label">Age</label>
  <input class="form-control" type="number" name="" id="age" (change)="handleChange($event , 1)" value="{{age}}">
  <br>
  <br>
  <button class="btn {{choice? 'btn-success' : 'btn-info'}} " (click)="addStudent(choice)" >{{choice? 'Add' : 'Update'}}</button>
  <br>
  <br>
  <br>
  <table class="table" >
    <tr>
      <th  >ID</th>
      <th>Name</th>
      <th>Age</th>
      <th colspan="2" >Actions</th>
    </tr>
    <tbody>
      <tr *ngFor="let student of mylist" >
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.age}}</td>
        <td> <Button type="button" class="btn btn-warning" (click)="handleUpdate(student)">Update</Button></td>
        <td><button class="btn btn-danger" (click)="handleDelete(student.id)">Delete</button></td>
      </tr>
    </tbody>

  </table>
<div class="card-footer">
  <h4>
    <app-counter [totalStudent]=mylist.length ></app-counter>
  </h4>

</div>

</div>
